{
  "includeDirectories": [
    "absoluteDirectoryToInclude",
    "anotherAbsoluteDiretoryToInclude"
  ],
  "excludeDirectories": [
    "relativeDirectoryInIncludeDirectories",
    "anotherDirectoryInIncludeDirectories"
  ]
}
